body {
    font-family: 'Courier New', Courier, monospace;
    background-color: black; /* Optional: Set background color for better contrast */
    color: red;
}

.hex-dump {
    display: flex;
}

#hex-dump-count, #hex-dump-content, #hex-dump-ascii {
    margin: 0;
    padding: 0 10px;
}

#hex-dump-content {
    white-space: pre;
}

#hex-dump-content a {
    color: white; /* White color for links */
    text-decoration: underline; /* Underline to indicate it's a link */
}

#hex-dump-ascii {
    white-space: pre;
}