body {
    background-color: black;
    color: red;
    font-family: 'Courier New', Courier, monospace;
}

.hex-dump {
    display: flex;
}

#hex-dump-count, #hex-dump-content, #hex-dump-ascii {
    margin: 0;
    padding: 0 10px;
}

#hex-dump-content {
    white-space: pre;
}

#hex-dump-ascii {
    white-space: pre;
}