@font-face {
    font-family: Z003;
    src: url(fonts/Z003-MediumItalic.otf);
}

html, body{overflow:hidden;}

body {
    background-image: url(images/bg.gif);
    background-size: cover;
    background-repeat:inherit;
    color: white;
    font-family: 'Courier New', monospace, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-attachment: fixed;
}

a {
    color: rgb(255, 255, 255);
}

section {
    text-align: center;
}

#body_fonts {
    position:relative;
    font-style:italic;
    font-weight: bolder;
    font-size: 1.5em;
    line-height: 0.5;
}

#site_header {
    padding-bottom: 0.7em;
    padding-top: 0.7em;
    text-align: center;
    font-size: 1.5em;
}

#mobile_notification {
    display: inherit;
}
#blockLocation_2 {
    display: none;
}

#ascii_art {
    display: none;
}

#silly_fonts {
    font-family: Z003, monospace, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
}

#special_introduction {
    display: none;
}
@media screen and (min-width: 500px) {
    #blockLocation_1 {
        pointer-events: none;
        position:relative;
        right: -32em;
        bottom: 30em
    }

    #blockLocation_2 {
        pointer-events: none;
        display: initial;
        position:relative;
        bottom: 50em;
        right: 40em;
    }
    #special_introduction {
        display:initial;
        font-size: 2.5em;
        font-style:italic;
        font-weight: bolder;
    }

    #body_fonts {
        position:relative;
        font-style:italic;
        font-weight: bolder;
        font-size: 2em;
        right: -17em;
    }

    #ascii_art {
        display:initial;
        position: relative;
        font-size: 3px;
        bottom: 8.4in;
        right: -5in
    }

    #site_header {
        padding-bottom: 2em;
        padding-top: 3em;
        text-align: center;
        font-size: 1.5em;
    }

    #mobile_notification {
        display: none;
    }
}