@keyframes bgScroll {
    0% {
        background-position : 0 0
    }
    100% {
        background-position : 1500px -1500px
    }
}
body {
    width:100vw;
    height:100vh;
    background-image:url("glaggle.jpg");
    animation: bgScroll 20s linear infinite;
}
div {
    width: 263px;
    height: 238px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}