body {
    display: grid;
    grid-template-rows: repeat(1, min-content) 1fr;
    height: auto;
    background-color: transparent;
}

html {
    background-image:url("images/fire.gif");
    background-color: black;
}


#block0,#block1,#block2,#block3,#block4,#block5 {
    justify-self: start;
    align-self: start;
    margin: 0 auto 0 auto;
    position: relative;
    color: white;

}

#block0 {
    grid-area: 0 / 1 / 2 / 2;
    margin-top: 1em;
}
#block2 {
    grid-area: 2 / 1 / 4 / 2;
    left: -15em;
}
#block3 {
    grid-area: 2 / 1 / 4 / 2;
    left: 15em;
    margin-top: 0.5in;
}
#block4 {
    grid-area: 4 / 1 / 6 / 2;
    left: -13em;
}
#block5 {
    grid-area: 4 / 1 / 6 / 2;
    left: 14em;
    top: 1em;
}